* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* body {
    width: 100vw;
} */

/* GENERICS */


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.button {
    padding: 3px 10px;
    width: fit-content;
}

.button:hover {
    opacity: 0.8;
}

.button-blue {
    color: white;
    background-color: #0061FF;
    border: 1px solid blue;
}

.button-white {
    color: #000;
    background-color: #fff;
    border: 1px solid grey;
}


/* /GENERICS */

/* UTILITIES */

.h-fit-content {
    height: fit-content;
}

.w-70 {
    margin-left: 70px;
    margin-right: 70px;
}

.w-35 {
    margin-left: 35px;
    margin-right: 35px;
}

.w-105 {
    margin-left: 105px;
    margin-right: 105px;
}

.wp-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.hp-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hp-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* /UTILITIES */

/* HEADER */
/* fixed-header */
header {
    /* border: 2px solid green; */
}

#fixed-header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid black; */
    width: 100vw;
    min-height: 60px;

}

ul {

    list-style-type: none;
}

#nav-left>li {
    padding-top: 30px;
    padding-left: 20px;
    min-height: 60px;

}

#nav-left>li:hover {
    border-bottom: 2px solid black;
}

#nav-right>li {
    padding-top: 30px;
    padding-right: 20px;
    min-height: 60px;

}

li>a {
    text-decoration: none;
    color: grey;

}

#nav-right>li:hover {
    border-bottom: 2px solid black;
}




#nav-left {
    width: 40vw;
    min-height: 40px;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: center;
}

#nav-right {
    width: 40vw;
    min-height: 40px;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
}

/* /fixed-header */


/* jumbotron */

#jumbotron {
    margin-top: 60px;
    background-color: #B4D0E7;
    /* border: 1px solid black; */
    padding: 10vh 15vw;
    height: 400px;
}

#jumbotron>h1 {
    font-size: 60px;
    font-weight: bolder;
}

#jumbo-img {
    height: 400px;
    padding-top: 40px;
}

#content-intro {
    padding-top: 40px;
    height: 300px;
    justify-content: space-between;
}

#down-arrow {
    font-size: 50px;
}



/* /jumbotron */
/* /HEADER */

/* SECTION subscriptions */

#subscriptions {
    padding: 10vh 20vw;
    background-color: white;
    /* border: 2px solid green; */
    height: 1200px;
    /* padding: 20px; */
}

.subscription-interval {
    padding-right: 30px;
    padding-top: 40px;

}

#subscription-container {
    height: 800px;

    border: 1px dotted blue;
    /* align-content: space-between; */


}



.subscription-column {

    background-color: aqua;
    /* padding: 20px; */
    border: 1px solid black;
    height: 600px;
    width: calc(100% / 3 - 70px);
    margin: 0 35px;


}

.subscription-row {
    background-color: aqua;
    border: 1px solid black;
    height: 200px;


}

.subscription-type {
    height: 30px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.subscription-info {
    justify-content: space-between;
    padding: 25px;
    align-content: center;
    text-align: left;
}

/* /SECTION subscriptions */

/* SECTION product-description */

#product-description {
    border: 2px solid green;

}


#image-partner {
    height: 400px;
    width: 500px;
}

#description-box {
    justify-content: space-evenly;
    border: 1px solid red;
}

#card-container {
    border: 1px solid black;
    justify-content: space-between;
}

.card {
    border: 1px dashed blue;
    justify-content: space-evenly;
    text-align: left;
    width: calc(100% / 3 - 70px);
    height: 400px;
}

.card-img {
    align-self: center;
    height: 170px;
    width: 200px;
}

/* /SECTION product-description */

/* SECTION company-feedback */

#company-feedback {
    border: 2px solid green;
    height: 400px;
}

/* /SECTION company-feedback */

/* SECTION FAQ */

#faq {
    border: 2px solid green;
    height: 400px;
}

/* /SECTION FAQ */
/* /MAIN */

/* FOOTER */
footer {
    background-color: black;
    color: white;
    height: 400px;
    border: 2px solid green;
}